* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body {
  font-family: Arial, san-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(Images/wallpaper2.jpg);
  background-size: cover;
  backdrop-filter: blur(8px);
}

#login-box {
  background: url(Images/wallpaper5.jpg);
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(104, 104, 104, 0.9);
  width: 300px;
}

#h2 {
  text-align: center;
  margin-bottom: 20px;
}

#username {
  width: 100%;
  padding: 10px 0px 10px 10px;
  margin: 2px 0px 8px 0px;
  border: 2px solid red;
  border-radius: 5px;
}

#email {
  width: 100%;
  padding: 10px 0px 10px 10px;
  margin: 2px 0px 8px 0px;
  border: 2px solid red;
  border-radius: 5px;
}

#password {
  width: 100%;
  padding: 10px 0px 10px 10px;
  margin: 2px 0px 8px 0px;
  border: 2px solid red;
  border-radius: 5px;
}

#btn {
  width: 100px;
  padding: 10px;
  margin-top: 8px;
  color: #fff;
  background: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}



